body {
	background-color: #FFBD7B;
}
div {

	margin-top: 1em;
	
	height: 5em;
}

img {
	position: relative;
	display: inline;


	height: 18em;
	width: 12em;

}

p {
	display: inline-block;
	position: absolute;
	float: right;

	top:.1em;
	left:20em;

	/*border:2px solid black;*/
	height:18em;
	width: 50%;

	color: black;
	font-family: Calibri, Candara, Segoe, Optima, sans-serif;

}



h4 {
	color:#FFBD7B;
}
table {
	display: inline;
	position: relative;
}
code {
	font-size: 12px;
	background-color:white;
	white-space: pre;
}
code span{
	background-color: white;
}

form {
	display:block;
	position: relative;

	left:10%;
	padding:50px,0,50px,50px;
	/*border:1px solid black;*/
	width: 30%;
}
form h2 {
	font-family: Tahoma, "Trebuchet MS", sans-serif  ;
	color: black;
}
form p{

	float:none;
	top:0;
	left: 0;
	height:auto;
	width: auto;

	display: block;
	position: relative;
}

input, textarea {
	padding: 5px;
	border: 1px solid #402600;
	box-shadow: 10px;
}

textarea {
	width:350px;
	height: 150px;
	max-width: 800px;
	max-height: 250px;
	line-height: 15px;
}

.submit input {
	width: 100px;
	height:40px;
	background-color: #402600;
	border-radius: 3px;
	color: #FFBD7B;
	font-style: bold;
	font-size: 15px;
	font-family:  "Trebuchet MS", Verdana, sans-serif;
}

a:link {
	color: blue;
}
a:visited {
	color:purple;
}
a:hover {
	color: #1B6321;
}

.blank {
	margin-top: 0;
	height:;
	display: inline-block;
	position: relative;
	float: none;

	top:0;
	left:0;

	border:;
	height:;
	width:;

	color:;
	font-family:;
}

.topbar {
	display: inline-block;
	position: relative;

	margin:5em,5em, 5em, 5em;
	border: 2px dashed black;
	padding: 1em;


	height:3em;
	width:20%;
	top:-1em;
	left:.1em;

	text-align: center;
	line-height: .5em;

	background-color: #402600;
	border-radius: 20%;
}

.header {
	position:relative;
	display:inline-block;
	width:85%;
	left:10%;
	border:none;
}
.footer {
	
	position: relative;

	border: 1px solid black;

	height: 1.5em;
	width: 75%;
	left:10%;
	
	bottom: 10em;

	text-align: center;
	
	background-color: #402600;
	
	color: #FFBD7B;
}

.blog-footer {
	/*display: block;*/
	position: fixed;

	border: 1px solid black;

	height: 1.5em;
	width: 75%;
	left:10%;
	
	bottom: 1em;

	text-align: center;
	
	background-color: #402600;
	
	color: #FFBD7B;
}
.search {

	position:absolute;
	color:black;

	width:15%;
	
	left: 80%;
	top: -.4em;

	border: 1px solid black;
	background-color: #FFDFB0;
	line-height: 1.5em;

	
	height:1.5em;

}
 .blogtopbar{
 	display: inline-block;
	position: relative;

	margin:5em,5em, 5em, 5em;
	border: 2px dashed black;
	padding: 1em;


	height:2em;
	width:90%;
	top:-1em;
	left:.1em;

	padding-top: .5em;
	padding-bottom: .5em;
	border:2px solid black;

	text-align: center;
	line-height: 0em;

	background-color: #402600;
	border-radius: 0%;
 }

 img.image-center-block {
 	display: block;
 	position:relative;

 	margin-left: auto;
 	margin-right: auto;


 }

 .underpic-block {
 	display: block;
 	position:relative;
 	
 	margin-left:auto;
 	margin-right: auto;

 	top:.2em;
 	left:auto;

 	font-size:10px;
 	font-weight:lighter; 
 	font-style:italic;
 	text-align: center;
 }

 a.plain-link:link {
 	color: #FFBD7B;
 	text-decoration: none;
 }

 a.plain-link:visited {
 	color: #FFBD7B;
 	text-decoration: auto;
 }

  a.plain-link:hover {
 	/*color: #1B6321;*/
 	color: #FFBD7B;
 	text-decoration: auto;
 }

 .ib {
 	display: inline-block;
 }

 .code-block{
 	display: inline-block;
 	position: relative;

 	margin-top: 0;
 	height: auto;

 	background-color: white;
 	border: 2px solid black;

 	left: 10%;
 	width: 75%;

 	padding:10px, 0, 10px, 20px;
 }

 .italics{
 	font-style: italic;
 }

 .100x100 {
 	height: 100px;
 	width: 100px;
 }

/*ids*/

#posts {
	display: inline-block;
	position: relative;

	border:2px solid #402600;

	width: 20%;
	height:25em;

	left:10%;
	top: -5.5em;

	text-align: center;
}

#topics {
	display: inline-block;
	position: relative;
	/*
	border: 2px solid black;
	*/
	left:27%;
	top: .5em;

	height:25em;
	width: 43%;

}
#topictable td{
	display: inline-block;
	position: relative;

	margin: 1em;

	/*
	border: 1px solid #1B6321;
	*/
	border-radius: 100%;

	line-height: 6.5em;

	height: 6.7em;
	width: 6.7em;
	top: -1.1em;

	text-align: center;

	background-color: #402600;
	color: #FFBD7B;
}
#postbody p{
	display: inline-block;
	position: relative;

	float: left;
	left:auto;
	top:auto;
	width: auto;
	height: auto;

	text-align: auto;
	text-indent: auto;
}
#cover-img {
	display: block;
	position: relative;
	top:2em;
	left: 10%;
}
#cover-p {
	display: block;
	position: relative;

	left: 9%;
	top: -5em;
}

#contact {
	position: relative;

	left: 10%;
	top: 10px;
}
#resume {
	display: block;
	margin: auto;
	height: 100%;
	width: 80%;

}